- @photos.each do |photo|
  .photo#photo-show{data: {photo_id: photo.id}}
    .photo_top
      .photo_top_avatar
        = link_to account_path(photo.user) do
          = image_tag photo.user.avatar_image
      %p.photo_top_user= photo.user.username
      %p.photo_top_created= photo.display_created_at
    .photo_pics
      = render 'commons/pics', photo: photo
    .photo_bottom
      - if user_signed_in?
        .photo_bottom_heart.hidden.active-heart
          = image_tag 'heart-active.svg'
        .photo_bottom_heart.hidden.inactive-heart
          = image_tag 'heart.svg'
      %span.photo_bottom_heart_count= photo.like_count
      .photo_bottom_comment
        = link_to photo_path(photo) do
          = image_tag 'comment.png'
      %span.photo_bottom_comment_count= photo.comment_count
      .twitter
        = link_to "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' do
          .twitter-btn
            = image_tag 'Twitter.png'
      - if user_signed_in? && current_user.has_written?(photo)
        .action
          .dropdown
            = image_tag 'actions.svg'
            .dropdown-content.mini
              = link_to '編集する', edit_photo_path(photo)
              = link_to '削除する', photo_path(photo), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
      %p.photo_bottom_detail= photo.content
