- content_for(:title) { user.username }
.profilePage
  .profilePage_image
    = image_tag user.avatar_image, class: 'avatar-image'
    .profilePage_actionButton
      - if user == current_user
        .profilePage_image_change#profile-upload
          = form_with(model: @profile, url: profile_path, method: 'put', id: 'profile_form', remote: true) do |f|
            = f.file_field :avatar
            .avatar_update
              .avatar-cancel
                %button Cancel
              .avatar_update_btn
                = f.submit 'Update', class: 'btn-primary'
      - else
        .profilePage_follow#follow-form
          .profilePage_followbtn_following.hidden.following
            %button UnFollow
          .profilePage_followbtn_follow.hidden.follow
            %button Follow
  .profilePage_count
    .profilePage_count_photos
      .count
        %p= user.photos_count
      .count_title
        %p= 'Photos'
    .profilePage_count_following
      = link_to account_followings_path(user) do
        .count
          %p= user.followings.count
        .count_title
          %p= 'Following'
    .profilePage_count_follower
      = link_to account_follows_path(user) do
        .count#follower_count
          %p= user.followers.count
        .count_title
          %p= 'Follower'
= javascript_pack_tag 'profile'
