.container
  .form
    %ul
      - @photo.errors.full_messages.each do |message|
        %li= message

    = form_with(model: @photo, local: true) do |f|
      %div
        = f.label :pics, 'Photo'
      %div
        = f.file_field :pics, multiple: true
      %div
        = f.label :content, 'content'
      %div
        = f.text_area :content
      .new_photo
        = f.submit 'Post', class: 'btn-primary'
