.container
  - @photos.each do |photo|
    = link_to photo_path(photo) do
      .photo#photo-show{data: {photo_id: photo.id}}
        %p.photo_user= photo.user.username
        %p.photo_created= photo.display_created_at
        .photo_pics
          - if photo.pics.first && photo.pics.second && photo.pics.third
            .photo_pics_3
              .photo_pics_3_first
                = image_tag photo.pics.first
              .photo_pics_3_second
                = image_tag photo.pics.second
              .photo_pics_3_third
                = image_tag photo.pics.third
          - elsif photo.pics.first && photo.pics.second
            .photo_pics_2
              .photo_pics_2_first
                = image_tag photo.pics.first
              .photo_pics_2_second
                = image_tag photo.pics.second
          - else photo.pics.first
            .photo_pics_1
              .photo_pics_1_first
                = image_tag photo.pics.first
        .photo_content
          %span= photo.comment_count
          %span= photo.like_count
          - if user_signed_in?
            .photo_heart.hidden.active-heart
              = image_tag 'heart-active.svg'
            .photo_heart.hidden.inactive-heart
              = image_tag 'heart.svg'
          %p.photo_detail= photo.content
        .photo_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_photo_path(photo)
            = link_to '削除する', photo_path(photo), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
        .twitter
          = link_to 'Twitter', "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank'
