.container
  - @photos.each do |photo|
    .photo#photo-show{data: {photo_id: photo.id}}
      .photo_top
        .photo_top_avatar
          = image_tag photo.user.avatar_image
        %p.photo_top_user= photo.user.username
        %p.photo_top_created= photo.display_created_at
      .photo_pics
        - if photo.pics.first && photo.pics.second && photo.pics.third
          .photo_pics_3
            .photo_pics_3_first
              = image_tag photo.pics.first
            .photo_pics_3_second
              = image_tag photo.pics.second
            .photo_pics_3_third
              = image_tag photo.pics.third
        - elsif photo.pics.first && photo.pics.second
          .photo_pics_2
            .photo_pics_2_first
              = image_tag photo.pics.first
            .photo_pics_2_second
              = image_tag photo.pics.second
        - else photo.pics.first
          .photo_pics_1
            .photo_pics_1_first
              = image_tag photo.pics.first
      .photo_bottom
        - if user_signed_in?
          .photo_bottom_heart.hidden.active-heart
            = image_tag 'heart-active.svg'
          .photo_bottom_heart.hidden.inactive-heart
            = image_tag 'heart.svg'
        %span.photo_bottom_heart_count= photo.like_count
        .photo_bottom_comment
          = link_to photo_path(photo) do
            = image_tag 'Vector.png', class: 'vector'
        %span.photo_bottom_comment_count= photo.comment_count
        .twitter
          = link_to "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' do
            .twitter-btn
              = image_tag 'Twitter.png'
        .action
          .dropdown
            = image_tag 'actions.svg'
            .dropdown-content.mini
              = link_to '編集する', edit_photo_path(photo)
              = link_to '削除する', photo_path(photo), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
        %p.photo_bottom_detail= photo.content

= javascript_pack_tag 'photo'
