- content_for(:title) { 'Comment' }
.container
  .comment#photo-show{data: {photo_id: @photo.id}}
  .comments-container
  .comment_form
    .comment_btn.show-comment-form
      = image_tag 'comment.png'
    .comment_text_area.hidden
      = text_area_tag :comment_content, '', class: 'sm'
      .comment_btn.add-comment-button
        = image_tag 'cancel.png'
        = image_tag 'comment.png', class: 'cancel'
    -# %p= 'Test'

= javascript_pack_tag 'comment'
