.photo
  - if @photo.pics.attached?
    .photo_pics
      = image_tag @photo.pics[0]
  %p= @photo.content
  %p= @photo.user.username
  %p= @photo.display_created_at
  .photo_detail_actions
    .dropdown
      = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content.mini
        = link_to '編集する', edit_photo_path(@photo)
        = link_to '削除する', photo_path(@photo), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
.container
  = link_to new_photo_comment_path(@photo) do
    .btn-secondary
      コメントを追加
